language: c

#dist: trusty
sudo: false
addons:
  apt:
    update: true
    packages:
    - realpath
    - build-essential
    - texinfo

before_install:
 - source $TRAVIS_BUILD_DIR/.travis/common.sh
 - bash $TRAVIS_BUILD_DIR/.travis/fixup-git.sh
 - source $TRAVIS_BUILD_DIR/.travis/common.sh

install:
 - ./.travis/install.sh

env:
  - PACKAGE=vtr                 CONDA_CHANNELS="pkgw-forge,conda-forge"
  - PACKAGE=libxml2
  - PACKAGE=libusb
  - PACKAGE=yosys
  - PACKAGE=nextpnr
  - PACKAGE=openocd
  # XXX riscv32 toolchain: disabled as fails to build
  # PACKAGE=riscv32/binutils
  # verilog tools
  - PACKAGE=icestorm
  - PACKAGE=iverilog
  - PACKAGE=verilator
  - PACKAGE=netlistsvg          CONDA_CHANNELS="conda-forge"
  # SystemVerilog tools
  - PACKAGE=zachjs-sv2v         CONDA_CHANNELS="conda-forge"
  - PACKAGE=odin_II             CONDA_CHANNELS="pkgw-forge,conda-forge"
  - PACKAGE=tree-sitter-verilog
  - PACKAGE=slang               CONDA_CHANNELS="conda-forge"    USE_SYSTEM_GCC_VERSION="8"
  - PACKAGE=moore
  - PACKAGE=sv-parser
  - PACKAGE=verible
  # protocol analyzers
  - PACKAGE=sigrok-cli          CONDA_CHANNELS="conda-forge"

script:
  - bash $TRAVIS_BUILD_DIR/.travis/script.sh

after_failure:
  - bash $TRAVIS_BUILD_DIR/.travis/after_failure.sh

after_success:
  - bash $TRAVIS_BUILD_DIR/.travis/after_success.sh
